src/main/webapp/WEB-INF/wsdl/pp-validate-bis2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file was automatically generated by ph-wsdl-gen
https://github.com/phax/ph-wsdl-gen
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://peppol.helger.com/ws/documentvalidationservice/201701/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://peppol.helger.com/ws/documentvalidationservice/201701/" name="WSDocumentValidationBIS2Service">
  <wsdl:documentation>Defines the WS interface for the generic Business Document Validation Engine (BDVE)
    Author: Philip Helger
    Version: 1.0.0
    Last Update: 2017-01-27
    
    History: 
      1.0.0: Initial version
  </wsdl:documentation>
  <wsdl:types>
    <xs:schema targetNamespace="http://peppol.helger.com/ws/documentvalidationservice/201701/" elementFormDefault="qualified">
      <xs:simpleType name="ErrorLevelType">
        <xs:annotation>
          <xs:documentation>Error level</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
          <xs:enumeration value="SUCCESS" />
          <xs:enumeration value="WARN" />
          <xs:enumeration value="ERROR" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TriStateType">
        <xs:annotation>
          <xs:documentation>Tri state: true, false, undefined</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true" />
          <xs:enumeration value="false" />
          <xs:enumeration value="undefined" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="RequestType">
        <xs:annotation>
          <xs:documentation>The main request type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="XML" type="xs:string">
            <xs:annotation>
              <xs:documentation>The XML content to be validated. 
Must use the same character set as the surrounding SOAP envelope.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="vesID" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>The ID of the 'validation executor set' to be used for validation.
Defines the validation rules to be applied.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="displayLocale" type="xs:string" default="en" use="optional">
          <xs:annotation>
            <xs:documentation>The locale to be used for the response messages. Optional and more or less a 
placeholder for future use.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="ItemType">
        <xs:annotation>
          <xs:documentation>A single error or warning as part of a validation execution</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Exception" type="xs:string">
            <xs:annotation>
              <xs:documentation>The internal exception that occurred.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="errorLevel" type="tns:ErrorLevelType" use="required">
          <xs:annotation>
            <xs:documentation>Error level of this item</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="errorID" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The ID of the error.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="errorFieldName" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The name of the field where the error occurred.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="errorLocation" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The location where the error occurred.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="errorText" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>The error text.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="test" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The test that was executed and lead to this error (e.g. Schematron 'test' attribute).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="ValidationResultType">
        <xs:annotation>
          <xs:documentation>The validation result of a single validation executor</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Item" type="tns:ItemType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>List of error items.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="success" type="tns:TriStateType" use="required">
          <xs:annotation>
            <xs:documentation>The overall success or error indicator.
If `true` validation was successful (no errors occurred).
If `false` at least one error was found upon document validation.
If `undefined` this validation layer was not executed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="artifactType" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>The type of validation artefact (e.g. XSD or Schematron) that was used to perform the validation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="artifactPath" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>The path to the validation artefact that was used to perform the validation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="ResponseType">
        <xs:annotation>
          <xs:documentation>The global delivery response type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Result" type="tns:ValidationResultType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The results of a single validation exeuction</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="success" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>The overall success or error indicator.
If `true` validation was successful (no errors occurred)
If `false` at least one error was found upon document validation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="interrupted" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>true if the validation was interrupted and not all validation layers were
executed (e.g. when XSD validation fails, Schematron validation is not performed)
or false if validation was executed for all layers</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mostSevereErrorLevel" type="tns:ErrorLevelType" use="optional">
          <xs:annotation>
            <xs:documentation>The most severe error level of all validation results contained in here</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:element name="validateBusinessDocumentRequestInput" type="tns:RequestType" />
      <xs:element name="validateBusinessDocumentResponseOutput" type="tns:ResponseType" />
      <xs:element name="validateBusinessDocumentErrorFault" type="xs:string" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="validateBusinessDocumentRequest">
    <wsdl:documentation>Input part for method validateBusinessDocument</wsdl:documentation>
    <wsdl:part name="Request" element="tns:validateBusinessDocumentRequestInput" />
  </wsdl:message>
  <wsdl:message name="validateBusinessDocumentResponse">
    <wsdl:documentation>Output part for method validateBusinessDocument</wsdl:documentation>
    <wsdl:part name="Response" element="tns:validateBusinessDocumentResponseOutput" />
  </wsdl:message>
  <wsdl:message name="ValidateBusinessDocumentFaultError">
    <wsdl:documentation>Fault part "Error" for method validateBusinessDocument</wsdl:documentation>
    <wsdl:part name="Error" element="tns:validateBusinessDocumentErrorFault" />
  </wsdl:message>
  <wsdl:portType name="WSDocumentValidationBIS2Port">
    <wsdl:documentation>SOAP portType WSDocumentValidationBIS2</wsdl:documentation>
    <wsdl:operation name="validateBusinessDocument">
      <wsdl:documentation>Assembled parts for method validateBusinessDocument</wsdl:documentation>
      <wsdl:input message="tns:validateBusinessDocumentRequest" />
      <wsdl:output message="tns:validateBusinessDocumentResponse" />
      <wsdl:fault message="tns:ValidateBusinessDocumentFaultError" name="ValidateBusinessDocumentFaultError" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDocumentValidationBIS2Binding" type="tns:WSDocumentValidationBIS2Port">
    <wsdl:documentation>SOAP binding WSDocumentValidationBIS2</wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validateBusinessDocument">
      <wsdl:documentation>SOAP binding for method validateBusinessDocument</wsdl:documentation>
      <soap:operation soapAction="validateBusinessDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidateBusinessDocumentFaultError">
        <soap:fault use="literal" name="ValidateBusinessDocumentFaultError" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDocumentValidationBIS2Service">
    <wsdl:documentation>SOAP service WSDocumentValidationBIS2</wsdl:documentation>
    <wsdl:port name="WSDocumentValidationBIS2Port" binding="tns:WSDocumentValidationBIS2Binding">
      <soap:address location="http://peppol.helger.com/ws/bdve" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
